<!DOCTYPE html>
<html lang>
<head prefix>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ptt clustering</title>

<!-- libraries-->
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="static/js/d3.min.js"></script>
<script src="static/js/topojson.js"></script>
<!--
<script src ="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
-->
<script type="text/javascript" src="static/js/chart.js"></script>

<!-- custom files-->

<!--CSS-->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection"/>
<link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link rel="shortcut icon" href="static/images/favicon.ico" />
<style>
body {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.x.axis path {
  display: none;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
</style>

</head>
<body>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="static/js/materialize.min.js"></script>


<nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/index" class="brand-logo">Ptt clustering</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/chart">Topic</a></li>
        <li><a href="/user">Search User</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/chart">Topic</a></li>
        <li><a href="/user">Search User</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  
  <h1> Topic model </h1>
  <script>plotChart();</script>
  </div>
  
    <p> </p>
    <center>© 2016 Rice, Hubert</center>
  </div>
  </body>
</html>