<!DOCTYPE html>
<html lang>
<head prefix>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ptt clustering</title>

<!-- libraries-->
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="static/js/d3.min.js"></script>
<script src="static/js/topojson.js"></script>
<!--
<script src ="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
-->
<script type="text/javascript" src="http://bost.ocks.org/mike/fisheye/fisheye.js?0.0.3"></script>
<script type="text/javascript" src="static/js/index.js"></script>

<!-- custom files-->

<!--CSS-->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection"/>
<link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link rel="shortcut icon" href="static/images/favicon.ico" />

</style>
</head>

<body>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="static/js/materialize.min.js"></script>


<nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/index" class="brand-logo">Ptt Hot</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/chart">Topic</a></li>
        <li><a href="/user">Search User</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/chart">Topic</a></li>
        <li><a href="/user">Search User</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text">Ptt-hot</h1>
        <div class="row center">
          <h5 class="header col s12 light">一個讓你了解台灣年輕人在想什麼的地方。</h5>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="static/images/image1.jpg" alt="Unsplashed background img 1"></div>
  </div>

    <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Ptt</h4>
          <p class="left-align light">
          尖峰時段超過10萬名使用者同時上線，每日超過2萬篇新文章及50萬則推文。
          </p>
          <p class="left-align light">
          八卦版為最熱門的看板，討論的內容相當廣泛。
          </p>
        </div>
      </div>

    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <h1 class="header center white-text">為什麼需要Ptt-hot</h1>
        <div class="row center">
          <h5 class="header col s12 light">Ptt-hot可以幫助您快速掌握八卦版的內容，讓你了解鄉民目前最關注的話題。</h5>
          <h5 class="header col s12 light">Ptt-hot更可以分析出各個地區學生討論度較高的主題。</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="static/images/image1.jpg" alt="Unsplashed background img 2"></div>
  </div>


  <div class="container">
      <h2>本周熱門話題</h2>
      <table class="bordered">
        <thead>
        </thead>
        {% for popularEvent in popularEvents %}
        <tbody>
          <tr>
            <td>{{popularEvent[0]}}:{{popularEvent[1]}}</td>
          </tr>
          </tr>
        </tbody>
        {% end %}
      </table>
  </div>

  <div class="container">
      <h2>推薦熱門文章</h2>
      <table class="bordered">
        <thead>
            <tr>
              <th data-field="topic_guess">主題</th> 
              <th data-field="article_title">標題</th>                
              <th data-field="date">時間</th>    
          </tr>
        </thead>
        {% for newEvent in newEvents %}
        <tbody>
          <tr>
            <td>{{newEvent['topic_guess']}}</td>
            <td><a href="https://www.ptt.cc/bbs/{{newEvent['board']}}/{{newEvent['article_id']}}.html">{{newEvent['article_title']}}</a></td>           
            <td>{{newEvent['date']}}</td>
            
            
          </tr>
          </tr>
        </tbody>
        {% end %}
      </table>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <h1 class="header center white-text">探索台灣學生熱門話題</h1>
        <div class="row center">
          <h5 class="header col s12 light">每間學校皆有其獨特的IP位址，利用檢索IP觀察台灣地區學生喜愛何種話題。</h5>
        </div>
      </div>
    </div>
  <div class="parallax"><img src="static/images/image2.jpg" alt="Unsplashed background img 3"></div>
  </div>
  </div>



  <!--
  <svg width="100%" height="400px" viewBox="0 0 800 400" preserveAspectRatio="xMidYMid"></svg>
  <div id="info"><div id="name"></div>
  <div id="density"></div>
  <div id="unit">( 人 / km<sup>2</sup> )</div>
  </div>
  <div id="Header">Header 欄位</div>
<div id="Sidebar">Sidebar</div>
<div id="Body">Body 欄位</div>
<div style='clear:both;'></div>
<div id="Footer">Footer 欄位</div>
  -->

<div id="wrapper">
  <h2>台灣學生熱門話題</h2>
  <div id="Taiwan">
      <svg width="100%" height="600px" viewBox="0 0 800 400" preserveAspectRatio="xMidYMid"></svg>
  </div>
  <div id="TaiwanInfo">
      <div id="info"><div id="name"></div>
      <div id ="topic"></div>
  </div>
  <div id="cleared"></div>
</div>

  <div id="footer">
    <p> </p>
    <center>© 2016 Rice, Hubert</center>
  </div>

  </body>
</html>